.categories {
  @apply mt-6 overflow-x-hidden;

  &__wrapper {
    @apply flex gap-3 w-full cursor-grab;
  }

  &__item {
    @apply border rounded-full p-1 px-2 text-[#6E3AFF] whitespace-nowrap cursor-pointer;

    font-family: "Gilroy-Regular";
    border-color: #6e3aff;
  }

  .selected {
    @apply text-white bg-[#6e3aff];
  }
}
