.modal {
  @apply fixed z-10 bg-[#242424] flex flex-col px-4 py-6 gap-3 bottom-0 rounded-md;

  &__close-icon {
    @apply absolute right-4 top-4 cursor-pointer;
  }

  &__title {
    @apply text-white text-lg font-medium;
  }

  &__description {
    @apply text-white;
  }

  &__buttons {
    @apply flex gap-4;

    a {
      @apply w-full;
    }
  }
}
