.event-card-drag {
  @apply flex flex-col rounded-xl bg-dark_lighter whitespace-nowrap font-poppins;

  &__wrapper {
    @apply flex flex-row gap-[15px] overflow-x-scroll -mx-4 px-4 mb-[42px] max-w-[52rem];

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    &::-webkit-scrollbar {
      display: none;
    }

    /* For IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  &__image {
    @apply object-cover rounded-t-lg max-h-[15rem] pointer-events-none;
  }

  &__info {
    @apply flex flex-col gap-1 justify-between p-4 max-w-[16rem];
  }

  &__span {
    @apply text-grey_medium truncate;
  }

  &__title {
    @apply flex justify-between text-lg font-poppins text-white font-medium;
  }

  &__heart {
    @apply cursor-pointer;
  }
}
