.event-card {
  @apply flex rounded-xl h-52 shadow-md;

  &__image {
    @apply object-cover max-w-[10.85rem] rounded-l-lg;
  }

  &__info {
    @apply flex flex-col justify-between p-4 max-w-[16rem];
  }

  &__span {
    @apply text-[#3D3D3D];
  }

  &__title {
    @apply flex justify-between text-lg;

    font-family: "Gilroy-Semibold";
  }

  &__button {
    @apply text-[#6e3aff] text-left;

    font-family: "Gilroy-Semibold";
  }

  font-family: "Gilroy-Regular";
}
