.footer {
  @apply bg-dark py-6;

  &__wrapper {
    @apply flex flex-col bg-[#6e3aff] mx-4 text-white rounded-xl font-poppins;
  }

  &__items {
    @apply flex flex-col justify-between gap-5 mx-7 -mt-10;
  }

  &__line {
    @apply opacity-50;
  }

  &__company {
    @apply opacity-80;
  }

  &__logo {
    @apply ml-7 mb-10 w-24 h-24;
  }

  &__social {
    @apply flex gap-4 pb-8;

    .icon {
      @apply cursor-pointer;
    }
  }
}
