.playlist-section {
  @media (max-width: 600px) {
    @apply mt-6 grid grid-cols-2 gap-6;
  }
  @media (min-width: 600px) {
    @apply mt-6 grid grid-cols-10 gap-6;
  }

  &__card {
    @apply h-[17.5rem] flex flex-col gap-2 rounded-xl bg-white w-full shadow-md;

    font-family: 'Gilroy-Regular';
  }

  &__image {
    @apply h-44 w-44 rounded-t-xl;
  }

  &__image_holder {
    @apply relative w-full h-[12rem];
  }
  &__info {
    @apply flex flex-col gap-0.5 mt-2 px-3 text-[#3D3D3D];
  }

  &__checkbox {
    @apply flex items-center gap-2 mb-2 text-[#292929];

    font-family: 'Gilroy-Semibold';
  }

  input[type='checkbox'] {
    border: 1px solid #6e3aff;
  }
}
