.playlist-card {
  @apply h-full border flex flex-row flex-nowrap justify-between hover:cursor-pointer;

  border-radius: 10px;
  border-color: #2d3648;

  &__title {
    @apply text-h4 font-bold;
  }

  &__content {
    @apply pt-def pb-md pl-def pr-sm;
  }

  &__checkbox-area {
    @apply border-l px-md pt-mob;

    border-color: #2d3648;
  }

  &__checkbox {
    border-color: #2d3648;
    border-radius: 4px;
    width: 30px;
    height: 30px;
  }
}
