.home-page {
  @apply min-h-full bg-dark;

  &__container {
    @apply mx-4;
  }

  &__searchbar-wrapper {
    @apply mb-md;
  }

  &__section-title-wrapper {
    @apply flex flex-row justify-between mb-xs;
  }

  &__section {
    @apply mb-mob;

    &-title {
      @apply text-xl text-white font-semibold;
    }

    &-see-all {
      @apply text-lg text-lead font-medium;
    }

    &-subtitle {
      @apply text-grey_medium;
    }

    &-title-description {
      @apply text-grey_medium font-normal text-center mb-[25px];
    }
  }

  &__title {
    @apply text-3xl text-white font-semibold mb-mob;
  }

  &__line {
    @apply w-full mt-12;
  }

  &__stacked-image-row {
    @apply mb-[25px];
  }

  &__flow {
    @apply mb-[44px];
  }

  &__button-grid {
    @apply grid grid-cols-2 gap-4 pt-[22px];

    button {
      @apply m-0;
    }
  }

  padding-top: 100px;
}
