@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy-Regular;
  src: url("../../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy-Semibold;
  src: url("../../fonts/Gilroy-Semibold.ttf");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("../../fonts/Gilroy-Bold.ttf");
}

body {
  margin: 0;
  background-color: #fbf9f9;
}

.login {
  @apply mx-4 min-h-full pb-xl;

  padding-top: 100px;

  &__image {
    @apply -mt-6;
  }

  &__spotify-icon {
    @apply h-5 w-5;
  }

  &__header {
    @apply text-black text-center text-3xl mt-4;

    font-family: "Gilroy-Bold";
  }

  &__text {
    @apply text-black text-center text-base mt-3;

    font-family: "Gilroy-Regular";
  }

  &__button {
    @apply w-full flex justify-center p-4 text-[#fbf9f9] bg-[#6e3aff] rounded-xl mt-6 gap-2 mb-10;

    font-family: "Gilroy-Semibold";
  }
}
  