.login {
  @apply bg-dark;

  padding-top: 60px;

  &__wrapper {
    @apply mx-12 lg:mx-4 pt-24 min-h-full pb-xl h-screen;
  }

  &__background {
    @apply h-[42rem];

    background-image: url("../../assets/login.png");
    background-size: cover;
    border-image: fill 0 linear-gradient(#0001, #121212);
  }

  &__header {
    @apply text-white text-[2.74rem] leading-[1.20] font-poppins font-semibold;
  }

  &__description {
    @apply text-white text-lg mt-6 mb-6;
  }

  &__process {
    @apply relative pb-16 flex flex-col items-center gap-5 -mt-48;

    &-header {
      @apply text-3xl pb-2 text-center leading-normal font-medium text-white;
    }

    &-icon-wrapper {
      @apply mt-6 p-6 rounded-md bg-[#6e3aff];
    }

    &-step-title {
      @apply text-xl text-white font-medium;
    }

    &-step-description {
      @apply text-white text-center max-w-xs;
    }

    &-arrow-left {
      @apply absolute top-[37rem] left-14 w-5;
    }

    &-arrow-right {
      @apply absolute top-[22rem] right-11 w-5;
    }
  }

  &__users {
    @apply py-16 flex flex-col items-center gap-5;

    &-wrapper {
      @apply bg-[#242424] rounded-md py-8 px-4 flex flex-col items-center gap-8;
    }

    &-quotes {
      @apply w-5 h-5;
    }

    &-header {
      @apply text-3xl pb-2 text-center leading-normal font-medium text-white;
    }

    &-description {
      @apply text-white text-center max-w-xs;
    }

    &-user-image {
      @apply rounded-full;
    }
  }

  &__community {
    @apply py-16 px-8 lg:px-0 flex flex-col items-center gap-6;

    &-header {
      @apply text-3xl text-center leading-normal font-medium text-white;
    }

    &-description {
      @apply text-white text-center max-w-xs;
    }

    &-image {
      @apply w-full h-full rounded-md;
    }

    &-grid {
      @apply w-full px-4 grid gap-2 bg-dark grid-cols-5 grid-rows-4 max-h-[38rem] lg:max-h-[28rem];

      #item-1 {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 2;
        grid-column-end: 4;
      }

      #item-2 {
        grid-row-start: 1;
        grid-column-start: 4;

        grid-row-end: 2;
        grid-column-end: 6;
      }

      #item-3 {
        grid-row-start: 2;
        grid-column-start: 1;

        grid-row-end: 4;
        grid-column-end: 3;
      }

      #item-4 {
        grid-row-start: 2;
        grid-column-start: 3;

        grid-row-end: 3;
        grid-column-end: 6;
      }

      #item-5 {
        grid-row-start: 3;
        grid-column-start: 3;

        grid-row-end: 5;
        grid-column-end: 6;
      }

      #item-6 {
        grid-row-start: 4;
        grid-column-start: 1;

        grid-row-end: 5;
        grid-column-end: 3;
      }
    }
  }
}
