@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy-Regular;
  src: url("../../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy-Semibold;
  src: url("../../fonts/Gilroy-Semibold.ttf");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("../../fonts/Gilroy-Bold.ttf");
}

body {
  margin: 0;
  background-color: #fbf9f9;
}

.recommendations-selection {
  @apply mx-4 min-h-full pb-xl;

  padding-top: 100px;

  &__title {
    @apply text-3xl mb-5;

    font-family: "Gilroy-Bold";
  }
}
