.recommendations-section {
  @apply bg-dark;
}

.recommendations-selection {
  @apply mx-12 lg:mx-4 min-h-full pb-xl;

  padding-top: 100px;

  &__title {
    @apply text-3xl mb-5 text-white font-semibold;
  }
}
