.select-playlists__section {
  @apply bg-dark;
}

.select-playlists {
  @apply mx-12 lg:mx-4 min-h-full pb-xl;

  padding-top: 100px;

  &__header {
    @apply text-white text-3xl mb-4 font-semibold;
  }

  &__info {
    @apply text-white text-base mb-4;
  }

  &__all-button {
    @apply text-[#6e3aff] text-right w-full py-4;
  }

  &__buttons {
    @apply fixed bottom-0 w-full bg-dark px-4 flex gap-4 z-10;
  }

  &__link {
    @apply w-full;
  }
}

.onboarding-window {
  @apply fixed z-10 top-[14rem] bg-[#202021] border border-[#6e3aff] px-4 pt-4 pb-1 mx-4 rounded-md;

  &__content {
    @apply flex gap-4 items-start;
  }
}

.onboarding-window::after {
  @apply absolute block left-0 right-0 mx-auto top-full mt-[-0.48rem] w-[17px] h-[17px] bg-[#202021] rotate-45 border-[#6e3aff] border-b border-r border-l-0 border-t-0;
  content: "";
}
